$colors: (
  primario: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 100%, 60%),
    400: hsl(14, 100%, 45%),
    500: hsl(14, 100%, 20%),
  ),
  secundario: (
    100: hsl(216, 90%, 80%),
    200: hsl(216, 90%, 60%),
    300: hsl(216, 90%, 40%),
    400: hsl(216, 90%, 20%),
    500: hsl(216, 90%, 10%),
  ),
);
