@import "colors";

// :root {
//   @each $color, $shades in $colors {
//     @each $shade, $value in $shades {
//       --#{$color}-#{$shade}: #{$value};
//     }
//   }
// }
/* Website Colors */
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .#{$color}-#{$shade} {
      color: $value;
    }
  }
}
